extends layout

block scripts
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript')
    var socket = io.connect('http://localhost:5000');
    socket.on('chat', function(data){
      document.getElementById('chat').innerHTML =
        '<p><strong>' + data.title + '</strong />: ' + data.contents + '</p>';
    });
    var submitChat = function(form) {
      socket.emit('chat', { text: form.chat.value });
      return false;
    };

block content
  #chat

  form(onsubmit='return submitChat(this);')
    input#chat(type='text', name='chat')
    input(type='submit', value='Send')